* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif !important;
  background: url("../public/image8.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}
